.about {
  flex-direction: column;
  margin-top: 5em;

  img {
    height: 220px;
    width: 220px;
    margin-bottom: 0.5em;
  }

  .name {
    color: var(--clr-primary);
    text-align: center;
  }

  .role {
    margin-top: 0.5em;
    text-align: center;
  }

  .desc {
    font-size: 1rem;
    max-width: 600px;
    text-align: center;
  }

  .desc,
  .contact {
    margin-top: 2.4em;
  }

  .link-icon {
    margin-right: 0.8em;
    font-size: 26px;
  }

  .btn-outline {
    margin-right: 1em;
  }
}
