.qualifications {
  display: flex;
  justify-content: center;

  .timeline {
    width: 800px;
    padding: 30px 20px;
    transition: transform 0.2s linear;

    .list {
      list-style-type: none;
      border-left: 2px solid #094a68;
      padding: 10px 30px;

      .item {
        box-shadow: var(--shadow);
        padding: 20px 20px;
        position: relative;
        transition: 0.5s;
        margin-bottom: 6px;

        &:before {
          position: absolute;
          content: "";
          width: 10px;
          height: 10px;
          background-color: var(--clr-fg);
          border-radius: 50%;
          left: -36px;
          top: 28px;
          transition: 0.5s;
        }

        .title-img {
          display: flex;
          flex-direction: row;
          align-items: center;
          flex-wrap: wrap;
          margin-bottom: 1em;

          img {
            height: 40px;
            width: 40px;
            margin-right: 12px;
            object-fit: cover;
          }
        }

        .text {
          margin-bottom: 0.5rem;
        }

        // .text {
        //   margin-bottom: 1rem;
        // }
      }
    }
  }

  @media (max-width: 300px) {
    .qualifications {
      .timeline {
        width: 100%;
        padding: 30px 5px 30px 10px;
      }
    }
  }
}
