.header {
  height: 5em;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-around;
  z-index: 2;

  .button {
    display: flex;

    button {
      margin: 0 1.2em;
    }
  }
}

@media (max-width: 600px) {
  .header {
    height: 5em;
  }
}
